/******************************************************
GENERAL
******************************************************/
body {
    background-color: b8f4d6;
}
a {
text-decoration: none;
}

h1.standout{
    color: #cc0000;
    
}

h3{
    margin: 0 0 1em 0;
}

/*max-width is related to width, but instead of width,max-width that it can be smaller for mobile devices ansd tablets */
body{
    font-family: 'open-sans', sans-serif;
}


#wrapper {
max-width: 940px;
/*maargin 0 is for all sides,auto*/
margin: 0 auto;

/*values first one is top and  bottom, second one is left and right*/
padding: 0.5%;
}

a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
/*******************************************************************
header
*******************************************************************/
header{
    float: left;
    margin: 0 0 25px 0;
    padding: 10px 0 0 0;
    width: 95%;
    background-color: #c88909;
}





#logo {
    text-align: center;
    margin: 0;
}
h1{
font-family: 'Press Start 2P', cursive;
margin: 15px 0;
font-size: 1.70em;
text-align: center;
}
h2{
    font-size: .70em;
    margin: -3.5px 0 0;
}

/*****************************************************
navagation
*****************************************************/
nav a {
    text-align: center;
    padding: 8px 0;
    margin: 21px 0 0;
}

nav ul{
        text-align: center;
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li{
    display: inline-block;
}

/*****************************************************
footer
*****************************************************/
footer{
    font-size: 1em;
    text-align: center;
    padding-top: 60;
    padding-left: 60px;
    color: #758c84;
    clear: both;
}
.social-media-icon{
    width: 75px;
    height: 75px;
    margin: 0 25em;
}
/*****************************************************
page portfolio
*****************************************************/
#gallery{
    margin: 0;
    padding: 0;
    list-style: none;
   
}
#gallery Li{
    float: left;
    width: 50%;
    margin: 2%;
    background-color: #ff4b28 ;
    color: #d14b57 ;
}

#gallery li a p{
    margin: 0;
    padding: 4%;
    font-size: 1.50em;
    color: #8138d15;
}

/*****************************************************
About me page
*****************************************************/
.profile-photo{
    display: block;
    max-width: 0 auto 25px;
    border-radius: 25%; 
}


/*****************************************************
Contact me page
*****************************************************/







.contact-info{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
    text-align: left;
}

.contact-info a{
    display: block;
    min-height: 21px;
   /*by default itwill always repeat,backround imgs*/
   background-repeat: no-repeat;
   /*resize the background img*/
   background-size: 20px 20px;
   padding: 0 0 20px;
   margin: 0 0 20px;
}











.contact-info li.mail  a{
    background-image: url('../img/fire_mail.png')
}

.contact-info li.G+  a{
    background-image: url('../img/google-plus.png');


/******************************************************
COLOR
******************************************************/
a{
    color: #dbb932;
}
a p{
    margin-start: 100px;
}
header{
    background: #00281d;
    text-align: center;
    font-size: 1.5em;
}
/*
h1, h2{
    color: #fff;
}
*/
/*pusedo-class*/
nav a, nav a:visited{
    color: #f58e47;
  
}
nav a.selected, nav a:hover{
    color: #f58e47;
}
/******************************************************
media querie
*****************************************************/
/* TWO  COLUMN LAYOUT*/

@media screen and(min-width: 480px){
    
    #primary{
        width: 60%;
        float: left;  
    }
    
    #secondary{
        width: 50%;
        float: right;
    }  
/*THREE COLUMN LAYOUT PORTFOLIO*/
#gallery li{
    width: 28.3333%;
}
#gallery li:nth-child{4n}{
    clear: left;
}

/*ABOUT PAGE*/
.profile-photo{
    float: left; 0 5% 80px 0;
}
}
@media screen and (min-width: 660px){
/*NAV*/
nav{
        background:none;
        float:right;
        font-size:1.152em;
        margin-right:5%;
        text-align:right;
        width:35;
}
#logo{
    float:left;
    margin-left:5%;
    text-align:left;
    width: 50%;
}
h1{
    font-size 2.5em
}
h2{
    font-size:.900em;
    margin-bottom: 20px;
}
header{
    border-bottom: 5px solid black;
    margin-bottom:80px
}



}














